<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lth.forum.mapper.UserTagRelationMapper">

    <resultMap id="BaseResultMap" type="com.lth.forum.model.UserTagRelation">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="symbol" property="symbol" jdbcType="VARCHAR"/>
        <result column="FTagId" property="FTagId" jdbcType="BIGINT"/>
        <result column="FCreateTime" property="FCreateTime" jdbcType="TIMESTAMP"/>
        <result column="date" property="date" jdbcType="DATE"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_tag_relation 
            (symbol, FTagId, date, description)
        VALUES
            (#{symbol}, #{FTagId}, #{date},#{description} )
    </insert>

    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_tag_relation 
            (symbol, FTagId, date, description)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.symbol}, #{item.FTagId}, #{item.date},#{item.description} )
        </foreach>
    </insert>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM user_tag_relation WHERE id = #{id}
    </select>

    <select id="selectBySymbol" resultMap="BaseResultMap">
        SELECT * FROM user_tag_relation WHERE symbol = #{symbol}
    </select>
    <select id="queryByTagIdsAndSymbol" resultType="com.lth.forum.model.UserTagDTO">
        SELECT utr.id, utr.symbol, utr.FTagId, utr.FCreateTime, utr.date
        FROM user_tag_relation utr
        WHERE utr.FTagId IN
        <foreach collection="list" item="tagId" open="(" separator="," close=")">
            #{tagId}
        </foreach>
        AND utr.symbol = #{symbol}
    </select>
    <select id="queryByTagAndDate" resultType="com.lth.forum.model.CountTagDTO">
         SELECT utr.FTagId tagId, COUNT(utr.FTagId) AS count
         FROM user_tag_relation utr
         WHERE utr.FTagId IN
         <foreach collection="tagIds" item="tagId" open="(" separator="," close=")">
             #{tagId}
         </foreach>
         AND utr.date = #{date}
         GROUP BY utr.FTagId
    </select>

    <update id="update">
        UPDATE user_tag_relation SET
            symbol = #{symbol},
            FTagId = #{FTagId},
            date = #{date}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM user_tag_relation WHERE id = #{id}
    </delete>
    <delete id="batchDelete">
        DELETE FROM user_tag_relation WHERE id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteAll">
            delete  from user_tag_relation
            where 1=1
    </delete>

    <select id="getMaxDate" resultType="java.time.LocalDate">
        SELECT MAX(date) FROM user_tag_relation
    </select>
</mapper>
