<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzp.forum.mapper.DailyReportMapper">

    <resultMap id="BaseResultMap" type="com.xzp.forum.domain.DailyReport">
            <id property="id" column="id" />
            <result property="tradeDate" column="trade_date" />
            <result property="midPctChg" column="mid_pct_chg" />
            <result property="upAmount" column="up_amount" />
            <result property="downAmount" column="down_amount" />
            <result property="limitUpAmount" column="limit_up_amount" />
            <result property="limitDownAmount" column="limit_down_amount" />
            <result property="limitUpPct" column="limit_up_pct" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,trade_date,mid_pct_chg,up_amount,down_amount,limit_up_amount,
        limit_down_amount,limit_up_pct,create_time
    </sql>

    <select id="getmaxDate" resultType="java.time.LocalDate">
        SELECT max(trade_date) FROM daily_report
    </select>
</mapper>
