<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 修改namespace和表名 -->
<!-- 修改namespace和表名 -->
<mapper namespace="com.xzp.forum.mapper.StockDailyMapper">
    <sql id="tablename">stock_daily</sql>

    <!-- 更新字段列表 -->
    <!-- 修改insert字段列表 -->
    <sql id="insertFields">
        ts_code
        , trade_date, open, high, low, close,
        pre_close, pre_open, pre_low, pre_high,
        `change`, pct_chg, vol, amount
    </sql>

    <!-- 修改select字段列表 -->
    <sql id="selectFields">
        id
        , ts_code, trade_date, open, high, low, close,
        pre_close, pre_open, pre_low, pre_high,
        `change`, pct_chg, vol, amount, create_time
    </sql>
    <!-- 新增resultMap -->
    <resultMap id="StockDailyResultMap" type="com.xzp.forum.model.StockDaily">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="ts_code" property="tsCode" jdbcType="VARCHAR"/>
        <result column="trade_date" property="tradeDate" jdbcType="DATE"/>
        <result column="open" property="open" jdbcType="DECIMAL"/>
        <result column="high" property="high" jdbcType="DECIMAL"/>
        <result column="low" property="low" jdbcType="DECIMAL"/>
        <result column="close" property="close" jdbcType="DECIMAL"/>
        <result column="pre_close" property="preClose" jdbcType="DECIMAL"/>
        <result column="pre_open" property="preOpen" jdbcType="DECIMAL"/>
        <result column="pre_low" property="preLow" jdbcType="DECIMAL"/>
        <result column="pre_high" property="preHigh" jdbcType="DECIMAL"/>
        <result column="change" property="change" jdbcType="DECIMAL"/>
        <result column="pct_chg" property="pctChg" jdbcType="DECIMAL"/>
        <result column="vol" property="vol" jdbcType="DECIMAL"/>
        <result column="amount" property="amount" jdbcType="DECIMAL"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!-- 修改insert语句 -->
    <insert id="insertStockDaily" parameterType="com.xzp.forum.model.StockDaily">
        INSERT INTO
        <include refid="tablename"/>
        (<include refid="insertFields"/>)
        VALUES(
        #{tsCode},
        #{tradeDate},
        #{open},
        #{high},
        #{low},
        #{close},
        #{preClose},
        #{preOpen},
        #{preLow},
        #{preHigh},
        #{change},
        #{pctChg},
        #{vol},
        #{amount}
        )
    </insert>

    <!-- 修改批量插入 -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO
        <include refid="tablename"/>
        (<include refid="insertFields"/>)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.tsCode}, #{item.tradeDate}, #{item.open},
            #{item.high}, #{item.low}, #{item.close}, #{item.preClose},
            #{item.preOpen}, #{item.preLow}, #{item.preHigh},
            #{item.change}, #{item.pctChg}, #{item.vol}, #{item.amount})
        </foreach>
        ON DUPLICATE KEY UPDATE
        open = VALUES(open)
    </insert>


    <!-- 按股票代码查询 -->
    <select id="selectByTsCode" resultType="com.xzp.forum.model.StockDaily" resultMap="StockDailyResultMap">
        SELECT
        <include refid="selectFields"/>
        FROM
        <include refid="tablename"/>
        WHERE ts_code = #{tsCode}
        ORDER BY trade_date DESC limit 50
    </select>

    <!-- 按日期范围查询 -->
    <select id="selectByDateRange" resultType="com.xzp.forum.model.StockDaily" resultMap="StockDailyResultMap">
        SELECT
        <include refid="selectFields"/>
        FROM
        <include refid="tablename"/>
        WHERE trade_date BETWEEN #{startDate} AND #{endDate}
    </select>


    <!-- 最新交易日查询 -->
    <select id="selectLatestByTsCode" resultType="com.xzp.forum.model.StockDaily" resultMap="StockDailyResultMap">
        SELECT
        <include refid="selectFields"/>
        FROM
        <include refid="tablename"/>
        WHERE ts_code = #{tsCode}
        ORDER BY trade_date DESC
        LIMIT 1
    </select>
    <select id="selectByTsCodeAndDate" resultType="com.xzp.forum.model.StockDaily">
        SELECT
        <include refid="selectFields"/>
        FROM
        <include refid="tablename"/>
        WHERE ts_code = #{tsCode}
        AND trade_date = #{date}
    </select>
    <select id="getMidIncrese" resultType="java.lang.String">
        SELECT AVG(sd.pct_chg) AS median
        FROM (SELECT pct_chg,
                     ROW_NUMBER() OVER (ORDER BY pct_chg) AS row_num, COUNT(*) OVER () AS total_count
              FROM stock_daily
              WHERE trade_date = #{date})
                 AS sd
        WHERE sd.row_num IN (FLOOR((sd.total_count + 1) / 2), FLOOR((sd.total_count + 2) / 2))
    </select>

</mapper>

